# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Entorno
.env
.env.local
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Nexus Framework
scratch/*
!scratch/.gitkeep
*.json
!package.json
!tsconfig.json
